body {
    margin: 0;
}

#app {
    background-color: #391;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.stack {
    position: absolute;
}

.card {
    position: absolute;
    width: 79px;
    height: 123px;
    background-image: url('sprite.png');
}