* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#app {
    background-color: #391;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.stack {
    position: absolute;
}

.stack::before {
    content: '';
    position: absolute;
    width: 77px;
    height: 121px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    top: 0;
    left: 0;
}

.card {
    position: absolute;
    width: 79px;
    height: 123px;
    background-image: url('sprite.png');
}

.stack.playing .card {
    margin-top: 20px;
}

.stack.playing>.card {
    margin-top: 0;
}